src/main/mule/github.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="640f6c8a-5669-473e-b620-095d0a7b8c8a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="githubFlow" doc:id="75a6761f-420f-4d7e-8778-2b76bf716ca4" >
		<http:listener doc:name="Listener" doc:id="ddea8525-4890-435d-be17-51dfb27f9d2c" config-ref="HTTP_Listener_config" path="/github"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="83b25fa7-0eac-4020-afbb-f6c84efed81a" />
	</flow>
</mule>
